/*--Header Style--*/

.nav-logo 
{
    float: left;
}

.toggle-menu-button {
    position: relative;
    float: right;
    margin: 3px 0;
    background: none;
    color: #fff;
    padding: 0;
    border-radius: 0 !important;
}

.navbar.fix-top .toggle-menu-button {
    color: #fff;
}

.toggle-menu-button i {
    font-size: 22px;
}

/* .menu-list {
    margin: 5px 0;
} */

.menu-list li {
    display: block;
    position: relative;
}

.menu-list li>a {
    font-size:14px;
    font-weight: bold;
    color:#363636;
    display: inline-block;
    position: relative;
    padding: 15px 30px;
    vertical-align: middle;
    text-transform: uppercase;
}
.cover
{
    background: #363636;
    border-radius: 100px;
    color:#fff !important;
}

/* .menu-list li > a:hover, .menu-list li > a:active, .menu-list li > a:focus {
    color: #ea3433;
} */

.menu-list .login-button {
    margin-left: 10px;
}

.menu-list .login-button>a {
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    display: inline-block;
    text-align: center;
    padding: 7px 30px;
    border-radius: 45px;
    font-weight: 600;
    margin-right: 30px;
    text-transform: uppercase;
}

.menu-list .login-button>a:hover, .menu-list .login-button>a:focus, .menu-list .login-button>a:active {
    background: #fff;
    color: #ea3433;
}

.menu-list .signup-button>a {
    background: #ea3433;
    color: #fff;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    padding: 7px 30px;
    border-radius: 45px;
    font-weight: 600;
    text-transform: uppercase;
}

.menu-list .signup-button>a:hover, .menu-list .signup-button>a:active, .menu-list .signup-button>a:focus {
    background: #fff;
    color: #ea3433;
}

.navbar {
    background: #333;
    padding: 28px 0;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.home-navbar {
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1030;
}

.navbar-dark {
    background: #333;
}

.navbar-light {
    background: #fff;
    color: #333;
}

.navbar-light .menu-list li>a {
    color: #333;
}

.navbar-light .menu-list .signup-button>a {
    color: #fff;
}

.navbar-light .menu-list .login-button>a {
    color: #333;
    border: 1px solid #333;
}

.navbar-light .menu-list .signup-button>a:hover {
    background: #333;
    color: #fff;
}

.navbar-light .toggle-menu-button img {
    filter: brightness(1) invert(1);
    -webkit-filter: brightness(1) invert(1);
}

.navbar-light .search-icon img, .navbar-light .dropdown-item a::after, .navbar-light .profile-dropdown a.dropdown-link::after {
    filter: brightness(1) invert(1);
    -webkit-filter: brightness(1) invert(1);
}

.navbar-light .search-input-header input {
    border: 1px solid #e1e1e1;
}

.navbar.fix-top {
    background: #ecf0f1;
    /*box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.2);*/
    padding: 20px 30px;
}

.dropdown-item {
    position: relative;
}

.dropdown-item a {
    position: relative;
    margin-right: 10px;
}

/*.dropdown-item a::after {
    content: '';
    background: url("../images/cheveron-down.svg") no-repeat;
    background-position: center right;
    position: absolute;
    top:17px;
    right:0;
    left: auto;
    width: 15px;
    height: 9px;
    filter: brightness(0);
    text-align: right;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}*/

.dropdown-item a.submenu-open::after {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

.navbar-menu {
    position: relative;
}

.dropdown-menu {
    max-width: 280px;
    padding: 25px 0px 25px 24px;
    text-align: right;
    /* box-shadow: -3px -3px 20px rgba(255, 255, 255, 0.2); */
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    background-clip: padding-box;
    z-index: 1000;
    border-right: solid 1px #EDEDED;
    position: relative;
}

.dropdown-menu.open {
    display: block;
}

.dropdown-menu li {
    position: static;
    float: none !important;
    padding-right: 30px;
}

.dropdown-menu.first-level li>a {
    display: block;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    color: #111;
    padding: 15px 0;
    text-transform: capitalize;
    /* white-space: nowrap; */
}

.dropdown-menu.first-level li>a::after {
    content: '';
    position: absolute;
    background: url("../images/chevron-right.svg") no-repeat;
    top: 20px;
    right: -15px;
    width: 7px;
    height: 12px;
    background-size: 7px;
    background-position: center right;
    filter: brightness(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.dropdown-menu li:hover a, .dropdown-menu li.active a {
    color: #EA3434;
}

.dropdown-menu li:hover a::after, .dropdown-menu li.active a::after {
    filter: brightness(1) !important;
    -webkit-filter: brightness(1) !important;
}

.dropdown-menu li>.second-level li a {
    font-size: 16px;
    font-weight: 600;
    color: #333;
    padding: 15px 0;
}

.dropdown-menu li>.second-level li a:hover {
    color: #EA3434;
}

.dropdown-menu li>.second-level li a::after {
    display: none;
}

.dropdown-menu li>.second-level {
    position: absolute;
    top: 0px;
    left: 100%;
    right: 0;
    width: 100%;
    padding: 25px 25px 75px 30px;
    min-width: 310px;
    text-align: left !important;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    display: none;
    border: none;
    height: 100%;
}

.dropdown-menu li>.second-level li.view-link {
    position: absolute;
    bottom: 25px;
    left: 0px;
    padding: 0 25px 0 30px;
    width: 100%
}

.dropdown-menu li>.second-level li.view-link a {
    color: #EA3434;
    font-weight: bold;
    text-align: right !important;
}

.dropdown-menu li>.second-level li {
    padding-right: 0px;
}

.dropdown-menu.first-level li:hover .second-level {
    display: block;
}

.second-level li>a {
    text-align: left !important;
    margin-right: 0;
}

.second-level li>a::after {
    display: none;
}

.search-content {
    position: relative;
}

.search-content.search-box {
    width: 250px;
}

.search-input-header {
    display: none;
    position: relative;
}

.search-input-header input {
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 8px 45px 8px 15px;
    width: 0;
    font-size: 14px;
    width: 250px;
    box-shadow: none !important;
    outline: none !important;
    height: 35px;
}

.search-input-header .close {
    position: absolute;
    top: 0;
    right: 0;
    background: #EA3434;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    line-height: 1.4;
    opacity: 1;
    text-shadow: none;
    box-shadow: none !important;
    outline: none !important;
}

/* .search-input-header.search-open {
    display: inline-block !important;
} */

.search-icon.hide {
    display: none;
}

/*--Footerr Style--*/

.footer-content {
    background: #111;
    padding: 42px 0 10px 0;
}

.footer-logo {
    padding: 80px 0;
}

.footer-details .footer-title {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 30px;
}

.footer-details ul li a, .footer-details li p {
    font-size: 16px;
    color: #fff;
    display: block;
    padding-bottom: 10px;
    line-height: 24px;
}

.footer-details ul li a {
    display: inline-block;
}

.footer-details ul li a:hover, .footer-details ul li a:focus, .footer-details ul li a:active {
    color: #EA3434 !important;
}

.footer-details ul li a:visited {
    color: #fff;
}

.footer-details .contact-list li {
    position: relative;
    padding-left: 25px;
}

.footer-details .contact-list li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 0;
    width: 15px;
    height: 15px;
    color: #fff;
}

.footer-details .contact-list li.call::before {
    background: url("/static/new-asms/images/phone-white.569fc7954046.svg") no-repeat;
    background-size: 12px;
}

.footer-details .contact-list li.mail::before {
    top: 10px;
    background: url("/static/new-asms/images/mail-white.41ecb1b145ac.svg") no-repeat;
    background-size: 15px;
}

.footer-details .contact-list li.map::before {
    top: 5px;
    background: url("/static/new-asms/images/location-white.a895f876f99a.svg") no-repeat;
    background-size: 12px;
}

/* .footer-details .contact-list li:first-child {
    margin-bottom: 30px;
} */

.footer-details .contact-list li a {
    line-height: 30px;
}

.copyright {
    padding: 20px 0;
    background: #1f1f1f;
    text-align: center;
}

.copyright p {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.subMenu-div {
    display: none;
    position: absolute;
    left: -50px;
    top: 60px;
    background: #fff;
    border-radius: 15px;
    min-width: 590px;
    z-index: 1000;
    box-shadow: -3px -3px 20px rgb(255 255 255 / 20%);
}

.subMenu-div.open {
    display: block;
}

/*---Mobile Nav Menu---*/

.menu-open .mobile-nav-menu {
    display: block;
}

.mobile-nav-menu .close-icon {
    position: absolute;
    right: 25px;
    top: 20px;
    cursor: pointer;
    z-index: 1000;
}

.mobile-nav-menu {
    position: fixed;
    top: 0;
    right: -320px;
    background: #fff;
    height: 100%;
    border-radius: 12px 0 0 12px;
    overflow-x: hidden;
    padding: 0;
    z-index: 1030;
    width: 320px;
}

.body-overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1029;
}

.search-box-xs {
    display: none;
    padding: 70px 40px 20px 40px;
}

.search-box-xs input.search {
    height: 35px;
    border-radius: 45px;
    width: 100%;
    color: #b5b5b5;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #b5b5b5;
    outline: none;
    box-shadow: none;
    padding: 0 15px;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.mobile-nav-menu ul.first-level {
    padding: 60px 0 30px 0;
    position: relative;
}

.mobile-nav-menu ul.first-level li {
    display: block;
    padding: 15px 40px;
}

.mobile-nav-menu ul.second-level li {
    display: block;
    padding: 15px 40px;
    position: static;
}

.mobile-nav-menu ul.first-level li>a {
    position: relative;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #333;
    display: inline-block;
}

.mobile-nav-menu ul.second-level li>a {
    position: relative;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #333;
    display: inline-block;
}

.mobile-nav-menu ul.first-level li>a:hover, .mobile-nav-menu ul.second-level li>a:hover {
    color: #EA3434;
}

.mobile-nav-menu ul.first-level li>a:hover::after, .mobile-nav-menu ul.second-level li>a:hover::before {
    filter: brightness(1) !important;
}

.mobile-nav-menu ul.first-level li>a.menu-link::after {
    content: '';
    position: absolute;
    background: url("../images/chevron-right.svg") no-repeat;
    top: 5px;
    right: -30px;
    width: 7px;
    height: 12px;
    background-size: 7px;
    background-position: center right;
    filter: brightness(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.mobile-nav-menu ul.second-level li>a.menu-link::before {
    content: '';
    position: absolute;
    background: url("../images/chevron-right.svg") no-repeat;
    top: 5px;
    right: -30px;
    width: 7px;
    height: 12px;
    background-size: 7px;
    background-position: center right;
    filter: brightness(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.mobile-nav-menu ul.first-level li.signup {
    margin: 15px 0 0 0;
}

.mobile-nav-menu ul.first-level li.signup a.btn {
    display: block;
    padding: 10px 45px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 45px;
}

.mobile-nav-menu ul.first-level li.login a.btn {
    display: block;
    padding: 10px 45px;
    color: #333;
    text-transform: uppercase;
    background: transparent;
    border: 1px solid #333;
    border-radius: 45px;
}

.mobile-nav-menu ul.first-level li.signout-link a {
    color: #EA3434;
}

.mobile-nav-menu .first-level .second-level {
    position: absolute;
    background: #fff;
    left: 100%;
    top: 0px;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
}

.mobile-nav-menu ul.second-level li.back-btn {
    padding-bottom: 30px;
    padding-top: 45px;
}

.back-btn a {
    position: relative;
    padding-left: 25px;
    font-weight: 400;
    font-size: 16px;
}

.back-btn a::before {
    content: '';
    position: absolute;
    background: url("../images/chevron-right.svg") no-repeat;
    top: 5px;
    top: 5px;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    left: 0;
    width: 7px;
    height: 12px;
    background-size: 7px;
    background-position: center right;
    filter: brightness(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

.search-xs {
    float: right;
    margin: 4px 20px 3px 0;
}

.search-xs .search-input-header {
    margin: 0 auto;
    height: 100%;
    background: rgb(51 51 51 / 80%);
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    padding: 18px;
}

.search-xs .search-input-header input {
    width: 100%;
    box-sizing: border-box;
}

.search-xs .search-input-header .close {
    top: 18px;
    right: 17px;
}

/*--profile - pic--*/

.profile-dropdown {
    position: relative;
}

.profile-dropdown .avatar img {
    width: 35px;
    border-radius: 100%;
}

.profile-dropdown .user-name {
    text-transform: capitalize;
}

.profile-dropdown a.dropdown-link {
    position: relative;
    padding: 0 22px 0 10px;
}

.profile-dropdown a.dropdown-link::after {
    content: '';
    background: url("../images/cheveron-down.svg") no-repeat;
    background-position: center right;
    position: absolute;
    top: 12px;
    right: 0;
    left: auto;
    width: 15px;
    height: 9px;
    text-align: right;
    transition: 0.3s all ease-in-out;
    -webkit-transition: 0.3s all ease-in-out;
    -moz-transition: 0.3s all ease-in-out;
}

.profile-dropdown.open a.dropdown-link::after {
    transform: rotate( 180deg);
    -webkit-transform: rotate( 180deg);
    -moz-transform: rotate(180deg);
}

.profile-dropdown-menu {
    background: #fff;
    position: absolute;
    top: 58px;
    right: 0;
    min-width: 240px;
    width: 100%;
    padding: 0;
    text-align: left;
    box-shadow: 1px 1px 50px rgb(47 47 47 / 8%);
    background-clip: padding-box;
    z-index: 1000;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    display: none;
}

.profile-dropdown-menu.show {
    display: block;
}

.profile-dropdown-menu li {
    float: none !important;
}

.profile-dropdown-menu li>a {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 10px 12px;
    display: block;
    transition: all 0.3s ease-in-out;
}

.profile-dropdown-menu li:hover>a {
    color: #EA3434;
}

.user-profile-info {
    display: block;
    position: relative;
    padding: 30px 12px;
    transition: 0.2s ease;
}

a.user-profile-info:hover .user-info .username {
    color: #EA3434;
}

.user-profile-info .user-avatar {
    position: absolute;
    top: 22px;
    left: 12px;
}

.user-profile-info .user-avatar img {
    border-radius: 100%;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.user-profile-info .user-info {
    padding-left: 60px;
}

.user-profile-info .user-info .username {
    font-family: 'spock_essregular';
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
    color: #111;
    transition: 0.2s ease;
    text-transform: capitalize;
}

.user-profile-info .user-info p {
    font-family: 'spock_essregular';
    color: #333;
    font-size: 12px;
    font-weight: 500;
    margin-top: 2px;
    word-break: break-all;
}

.seprator {
    display: block;
    border-bottom: 1px solid #ededed;
}

.profile-dropdown-nav {
    padding: 5px 0;
}

.profile-dropdown-xs {
    background: #EDEDED;
    margin-bottom: 10px;
}

.user-profile-info-xs {
    padding: 0;
}

.user-profile-info-xs .user-avatar {
    left: 0;
    top: -4px;
}

.user-profile-info-xs::after {
    content: '';
    position: absolute;
    background: url("../images/chevron-right.svg") no-repeat;
    top: 10px;
    right: -40px;
    width: 7px;
    height: 12px;
    background-size: 7px;
    background-position: center right;
    filter: brightness(0);
    transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
}

/*--Odoo Page Design Override--*/

.menu-list.nav-menu li>a.head-menu-link:visited:not(.btn), .menu-list.nav-menu li>a.head-menu-link:not(.btn):hover, .menu-list.nav-menu li>a.head-menu-link:not(.btn):focus, .menu-list.nav-menu li>a.head-menu-link:visited:not(.btn):hover, .menu-list.nav-menu li>a.head-menu-link:visited:not(.btn):focus {
    color: #000;
}

.profile-dropdown-menu li>a:visited:not(.btn), .profile-dropdown-menu li>a:not(.btn):focus, .profile-dropdown-menu li>a:visited:not(.btn):focus {
    color: #333;
}

.profile-dropdown-menu li>a:not(.btn):hover, .profile-dropdown-menu li>a:visited:not(.btn):hover {
    color: #EA3434;
}

.navbar-light .menu-list.nav-menu li>a.head-menu-link:visited:not(.btn), .navbar-light .menu-list.nav-menu li>a.head-menu-link:not(.btn):hover, .navbar-light .menu-list.nav-menu li>a.head-menu-link:not(.btn):focus, .navbar-light .menu-list.nav-menu li>a.head-menu-link:visited:not(.btn):hover, .navbar-light .menu-list.nav-menu li>a.head-menu-link:visited:not(.btn):focus {
    color: #333;
}

.footer-details ul li a:not(.btn):hover, .footer-details ul li a:not(.btn):focus, .footer-details ul li a:visited:not(.btn):hover, .footer-details ul li a:visited:not(.btn):focus {
    color: #EA3434 !important;
}

.None .navbar {
    display: block;
}

.None .dropdown-item.active {
    background: none;
}

.None .dropdown-item {
    width: auto;
    padding: 0;
    background: none;
}

.None .navbar, .discussion .navbar {
    display: block;
}

.None .dropdown-item.active, .discussion .dropdown-item.active {
    background: none;
}

.None .dropdown-item, .discussion .dropdown-item {
    width: auto;
    padding: 0;
    background: none;
}

.None .dropdown-item .subMenu-div .dropdown-menu.first-level,
.discussion .dropdown-item .subMenu-div .dropdown-menu.first-level {
    display: block;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-radius: 15px;
    box-shadow: none;
}

.is_login_user .subMenu-div {
    right: -180px;
    left: auto;
}

.light-button, div.history-controls input[type="submit"], a.light-button, .gray-button, input[type="reset"], input[type="submit"], input[type="button"], button, .button, form input[type="reset"], form input[type="submit"], form input[type="button"], form button, form .button, .xmodule_display.xmodule_LTIModule div.lti .wrapper-lti-link .lti-link .link_lti_new_window {
    border: none !important;
    box-shadow: none !important;
}

.discussion textarea, .discussion input[type="text"], .discussion input[type="url"], .discussion input[type="email"], .discussion input[type="password"], .discussion input[type="tel"], .None textarea, .None input[type="text"], .None input[type="url"], .None input[type="email"], .None input[type="password"], .None input[type="tel"] {
    line-height: 1.4;
}

/*--Media Query--*/

@media not all and (min-resolution:.001dpcm) {
    @media {
        .search-input-header .close {
            margin: 0 !important;
        }
    }
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
        /*
      Define here the CSS styles applied only to Safari browsers
      (any version and any device)
     */
        .search-input-header .close {
            margin: 0 !important;
        }
    }
}

@media (min-width: 768px) {
    .search-xs {
        display: none;
    }
    .toggle-menu-button {
        display: none;
    }
    .nav-head {
        float: left;
    }
    .menu-list {
        float: right;
        /* margin-right: -15px; */
    }
    .menu-list li {
        float: left;
    }
    .footer-content-xs {
        display: none;
    }
    .mobile-nav-menu, .menu-open .mobile-nav-menu {
        display: none;
    }
}

@media (max-width: 767px) {
    /* .navbar.menu-open {
        background: #fff;
    } */
    .menu-list {
        margin: 0;
        height: 100%;
    }
    .menu-list.nav-menu {
        display: none;
    }
    .menu-list li>a {
        padding: 12px 20px 12px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding-right: 20px;
    }
    .login-button a, .signup-button a {
        display: block !important;
        margin: 15px 0 !important;
    }
    .footer-content {
        padding: 30px 0 10px 0;
    }
    .footer-content .col-3 {
        width: 100%;
    }
    .footer-content-xs {
        background: #333;
        padding: 30px 0;
    }
    .footer-logo {
        text-align: center;
        display: block;
        margin: 0 auto 30px auto;
    }
    .footer-content-xs .footer-details {
        margin-top: 25px;
    }
    .footer-content .col-2 {
        width: 33.33%;
    }
    .footer-content .col-3 {
        width: 100%;
    }
    .footer-content .footer-details.contact {
        margin-top: 30px;
    }
    .footer-logo {
        padding: 0;
        margin-bottom: 30px;
        width: 100px;
    }
    .footer-content .footer-details {
        margin-bottom: 13px;
    }
    .footer-details .footer-title {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .footer-details ul li a, .footer-details li p {
        font-size: 16px;
        line-height: 24px;
    }
    .footer-details .contact-list li a {
        font-size: 16px;
        line-height: 24px;
    }
    .copyright {
        padding: 10px 0;
    }
    .copyright p {
        font-size: 14px;
        line-height: 24px;
    }
    .footer-details .contact-list li::before {
        top: 5px;
    }
    .footer-details .contact-list li.mail::before {
        top: 8px;
    }
}

@media (max-width: 479px) {
    .footer-content .col-2 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-content .col-3 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer-content .footer-details.contact {
        margin-top: 0;
        margin-bottom: 0;
    }
    .nav-logo img {
        width: 146px;
    }
    .toggle-menu-button {
        margin: 0;
    }
    .search-xs {
        float: right;
        margin: 1px 20px 3px 0;
    }
    .navbar {
        padding: 24px 0;
    }
    .footer-content .col-2 {
        width: 100%;
    }
    .footer-content .col-3 {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-list li>a {
        padding: 7px 10px;
        font-size: 14px;
    }
    .menu-list .login-button>a {
        margin-right: 10px;
    }
    .menu-list .login-button>a, .menu-list .signup-button>a {
        padding: 7px 10px;
    }
    .search-input-header input {
        width: 170px;
    }
    .search-content.search-box {
        width: 170px;
    }
    .search-input-header .close {
        padding: 8px;
    }
    .dropdown-item a::after {
        right: -11px;
    }
    .subMenu-div {
        min-width: 510px;
        left: -150px;
    }
    .dropdown-menu {
        max-width: 240px;
        padding: 15px 0px 15px 14px;
    }
    .dropdown-menu li>.second-level {
        padding: 15px 15px 75px 15px;
        min-width: 270px;
    }
}