@font-face {
    font-family: 'spock_essblack';
    src: url('los_andes_-_spock_ess_black-webfont.woff2') format('woff2'),
         url('los_andes_-_spock_ess_black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spock_essbold';
    src: url('los_andes_-_spock_ess_bold-webfont.woff2') format('woff2'),
         url('los_andes_-_spock_ess_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spock_esslight';
    src: url('los_andes_-_spock_ess_light-webfont.woff2') format('woff2'),
         url('los_andes_-_spock_ess_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'spock_essregular';
    src: url('los_andes_-_spock_ess_regular-webfont.woff2') format('woff2'),
         url('los_andes_-_spock_ess_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}